@charset "UTF-8";
@import "base";
/* search forms */

.search {
  position: relative;
  display: inline-block;
  overflow: visible;
  button {
    z-index: 3;
    position: absolute;
    width: 16px; height: 16px;
    text-indent: -300em;
    color: rgba(0,0,0,0);
    right: 8px; top: 50%;
    margin: -8px 0 0;
    background-position: 0 0;
    border: none;
    padding: 0;
    &:hover {
      box-shadow: none;
      -webkit-shadow: none;
      -moz-box-shadow: none;
    }
  }
  input[type="search"],input[type="text"] {
   z-index: 2;
   position: relative;
   -moz-appearance: none;
   -webkit-appearance: none;
    @include border-radius(20px);
    padding: 4px 30px 4px 10px;
    float: right;
    &:focus {
      padding: 3px 29px 3px 9px;
    }
  }
  .queries {
    z-index: 1;
    position: absolute;
    left: 0; top: 0; bottom: 0; width: 40px;
    @include border-radius-left(20px);
    background-color: #ddd; /* for IE */
    @include gradient-2p-linear(#f0f0f0,#ddd);
    border: 1px solid #aaa;
    .arrow {
      display: block;
      position: absolute;
      width: 18px; height: 6px; top: 50%; left: 3px; margin-top: -1px;
      background: url(../../images/icon_menu_arrow.gif) no-repeat 0 0;
    }
    &:active {
      @include gradient-2p-linear(#d0d0d0,#f0f0f0);
    }
    &.open {
      background: #f6f6f6;
      @include no-border-radius();
      @include border-radius-top-left(14px);
    }
    &.queryeditor {
      background: #bbb;
      @include no-border-radius();
      @include border-radius-top-left(14px);
    }
  }

  /* search widget dropdown list */
  .qdropdown {
    position: absolute;
    border: 1px solid #bbb;
    background-color: #f6f6f6;
    top: 100%;
    z-index: 10;
    &.left {
      left: 0;
    }
    &.right {
      right: 12px;
    }
    ul {
      display: block;
      margin: 0;
      li {
        margin: 0; padding: 0;
        display: block;
        a {
          display: block;
          padding: 4px 10px 4px 24px;
          white-space: nowrap;
          &:hover {
            cursor: pointer !important;
            text-decoration: none;
            padding: 3px 9px 3px 23px;
            background-color: $dcprimary;
            color: #fff;
            border: 1px solid darken($dcprimary, 10%);
          }
        }
        .favorite { background: url(../../images/icons/favorite.png) no-repeat 4px center }
        .recent { background: url(../../images/icons/recent.png) no-repeat 4px center }
      }
    }
    .showmore {
      display: block;
      font-size: 80%;
      text-align: right;
      padding-right: 10px;
      text-decoration: none;
      color: #888;
      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #000;
      }
    }
    &.queryeditor {
      h1 {
        font-size: 80%;
        color: #fff;
        background-color: #bbb;
        text-align: right;
        padding: 0.25em 0.5em;
      }
      h2 {
        margin: 0 0 1em;
      }
      &>div {
        padding: 12px;
      }
    }
  }
}

