@import url(grid.css);
/* $headlinefont: "Roadgeek E", Interstate, sans-serif; */
/* colors */
@import url(text.css);
/* TEXT ENTRIES */
input, textarea {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  /* -webkit-box-shadow: inset $x $y $blur $color; breaks on border-radius */
  border: 1px solid #aaaaaa;
  background-color: #f0f0f0;
  background: #f0f0f0 url(../../images/input-bg.png) repeat-x 0 0;
  padding: 4px;
  margin: 0; }
  input:focus, textarea:focus {
    border-width: 2px;
    padding: 3px;
    background-color: #fff;
    outline: none; }
  input.disabled, input[disabled], textarea.disabled, textarea[disabled] {
    opacity: 0.6; }

input[type="search"] {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 4px 30px 4px 10px; }
  input[type="search"]:focus {
    padding: 3px 29px 3px 9px; }
