@import "base";
/* TEXT ENTRIES */
input,textarea {
  @include inset-box-shadow(0,1px,1px,rgba(0, 0, 0, 0.2));
  border: 1px solid darken($strokecl,20%);
  background-color: #f0f0f0;
  background: #f0f0f0 url(../../images/input-bg.png) repeat-x 0 0;
  padding: 4px;
  margin: 0;
  &:focus {
    border-width: 2px;
    padding: 3px;
    background-color: #fff;
    outline: none;
  }
  &.disabled, &[disabled] {
    opacity: 0.6;
  }
}
  input[type="search"] {
    @include border-radius(20px);
    padding: 4px 30px 4px 10px;
    &:focus {
      padding: 3px 29px 3px 9px;
    }
  }
